<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecommerceApp.category.home.title">Categories</span>

        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-reindex-entity" class="btn btn-primary float-right jh-create-entity create-category" (click)="reindex()">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Reindex
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-4">
            <jhi-category-dropdown [creation]="true" (changeCategory)="makeCategoryActive($event)"></jhi-category-dropdown>
        </div>
        <div class="col-8">
            <jhi-category-update *ngIf="categoryActive_" [category]="categoryActive_"></jhi-category-update>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
        <span jhiTranslate="ecommerceApp.category.home.notFound">No categories found</span>
    </div>
</div>
