<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="article">
            <h2><span jhiTranslate="ecommerceApp.article.detail.title">Article</span> {{ article.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecommerceApp.article.name">Name</span></dt>
                <dd>
                    <span>{{ article.name }}</span>
                </dd>
                <dt><span jhiTranslate="ecommerceApp.article.description">Description</span></dt>
                <dd>
                    <span>{{ article.description }}</span>
                </dd>
                <dt><span jhiTranslate="ecommerceApp.article.available">Available</span></dt>
                <dd>
                    <span>{{ article.available }}</span>
                </dd>
                <dt><span jhiTranslate="ecommerceApp.article.price">Price</span></dt>
                <dd>
                    <span>{{ article.price }}</span>
                </dd>
                <dt><span jhiTranslate="ecommerceApp.article.category">Category</span></dt>
                <dd>
                    <div *ngIf="article.category">
                        <a [routerLink]="['/category', article.category?.id, 'view']">{{ article.category?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
