<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecommerceApp.ligneCommande.home.title">Ligne Commandes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ligne-commande" [routerLink]="['/ligne-commande/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ecommerceApp.ligneCommande.home.createLabel">
            Create a new Ligne Commande
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ecommerceApp.ligneCommande.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="ligneCommandes?.length === 0">
        <span jhiTranslate="ecommerceApp.ligneCommande.home.notFound">No ligneCommandes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ligneCommandes && ligneCommandes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="ecommerceApp.ligneCommande.total">Total</span></th>
                    <th scope="col" ><span jhiTranslate="ecommerceApp.ligneCommande.number">Number</span></th>
                    <th scope="col" ><span jhiTranslate="ecommerceApp.ligneCommande.model">Model</span></th>
                    <th scope="col" ><span jhiTranslate="ecommerceApp.ligneCommande.commande">Commande</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ligneCommande of ligneCommandes ;trackBy: trackId">
                    <td><a [routerLink]="['/ligne-commande', ligneCommande.id, 'view']">{{ ligneCommande.id }}</a></td>
                    <td>{{ ligneCommande.total }}</td>
                    <td>{{ ligneCommande.number }}</td>
                    <td>
                        <div *ngIf="ligneCommande.model">
                            <a [routerLink]="['/model', ligneCommande.model?.id, 'view']" >{{ ligneCommande.model?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ligneCommande.commande">
                            <a [routerLink]="['/commande', ligneCommande.commande?.id, 'view']" >{{ ligneCommande.commande?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ligne-commande', ligneCommande.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ligne-commande', ligneCommande.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ligneCommande)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
