<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ligneCommande">
            <h2><span jhiTranslate="ecommerceApp.ligneCommande.detail.title">Ligne Commande</span> {{ ligneCommande.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecommerceApp.ligneCommande.total">Total</span></dt>
                <dd>
                    <span>{{ ligneCommande.total }}</span>
                </dd>
                <dt><span jhiTranslate="ecommerceApp.ligneCommande.number">Number</span></dt>
                <dd>
                    <span>{{ ligneCommande.number }}</span>
                </dd>
                <dt><span jhiTranslate="ecommerceApp.ligneCommande.model">Model</span></dt>
                <dd>
                    <div *ngIf="ligneCommande.modelId">
                        <a [routerLink]="['/model', ligneCommande.modelId, 'view']">{{ ligneCommande.modelId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecommerceApp.ligneCommande.commande">Commande</span></dt>
                <dd>
                    <div *ngIf="ligneCommande.commandeId">
                        <a [routerLink]="['/commande', ligneCommande.commandeId, 'view']">{{ ligneCommande.commandeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ligne-commande', ligneCommande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
