<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ligne-commande-heading" jhiTranslate="ecommerceApp.ligneCommande.home.createOrEditLabel">Create or edit a Ligne Commande</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecommerceApp.ligneCommande.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecommerceApp.ligneCommande.number" for="field_number">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecommerceApp.ligneCommande.model" for="field_model">Model</label>
                    <select class="form-control" id="field_model" name="model" formControlName="modelId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="modelOption.id" *ngFor="let modelOption of models; trackBy: trackById">{{ modelOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ecommerceApp.ligneCommande.commande" for="field_commande">Commande</label>
                    <select class="form-control" id="field_commande" name="commande" formControlName="commandeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commandeOption.id" *ngFor="let commandeOption of commandes; trackBy: trackById">{{ commandeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
